.bookacall-wrapper{
   .progress-bar{
      background-color: #fdfdfd;
      mix-blend-mode: difference;
      &::after{
         background-color: #fdfdfd;
         mix-blend-mode: difference;
      }
   }
}