@use "sass:math";

@import "base/mixins.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин

@font-face {
	font-family: "SF Pro Display";
	src:
		url("../shared/fonts/SFProDisplay-Regular.woff") format("woff"),
		/* Format can be omitted in many cases */ url("../shared/fonts/SFProDisplay-Regular.woff2") format("woff2");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SF Pro Display Medium";
	src:
		url("../shared/fonts/SFProDisplay-Medium.woff") format("woff"),
		url("../shared/fonts/SFProDisplay-Medium.woff2") format("woff2");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SF Pro Display bold";
	src:
		url("../shared/fonts/SFProDisplay-Semibold.woff") format("woff"),
		url("../shared/fonts/SFProDisplay-Semibold.woff2") format("woff2");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SF Pro Display Light";
	src:
		url("../shared/fonts/SFProDisplay-Light.woff") format("woff"),
		url("../shared/fonts/SFProDisplay-Light.woff2") format("woff2");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: url("../shared/fonts/Inter-Regular.woff2") format("woff2");
	font-style: normal;
	font-display: swap;
}
/* site settings */
:root {
	// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
	--font-family: "SF Pro Display";
	--fSFM: "SF Pro Display Medium";
	--font-wieght: 400;

	--font-size: 1.125rem; // где 18(px) - размер шрифта по умолчанию

	// Default colors
	--main-text-color: #101010;
	--primary: #f1212f;
	--colRed: #f1212f;
	--colGreen: #00825b;
	--colBlue: #3e21f1;
	--colOrange: #ee4813;
	--colApplexnike: #5897c3;
	//========================================================================================================================================================
	--colBg3d: #f80000;
	//========================================================================================================================================================
	--colLightAndDark: #fdfdfb;
	--colDarkAndLight: #101010;
	//========================================================================================================================================================
	--rowToolsTitleLine: #cccccc;
	--portfolioAcctiveArrow: rgba(242, 239, 238, 0.3);
	--colDifferentText: #52606d;
	--colHeaderMode: rgba(255, 255, 255, 0.5);
	--headerBorder: rgba(29, 29, 31, 0.2);
	--menuBorder: #eaecf0;
	--colEmailBg: #f6f6f6;
}
[data-theme="dark"] {
	--main-text-color: #fdfdfb;
	//========================================================================================================================================================
	--colLightAndDark: #101010;
	--colDarkAndLight: #fdfdfb;
	//========================================================================================================================================================
	--rowToolsTitleLine: #4a4a4a;
	--portfolioAcctiveArrow: #101010;
	--colDifferentText: #fdfdfb;
	--colHeaderMode: rgba(13, 13, 13, 0.5);
	--headerBorder: rgba(224, 224, 226, 0.2);
	--menuBorder: #222;
	--colEmailBg: #1c1c1c;
}

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================
$maxWidth: 1920;
$minWidth: 393;

// Ширина ограничивающего контейнера
$maxWidthContainer: 1756;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding * 2;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшети в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
// Приклепляет footer к снизу
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*="__container"] {
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding: 0 toRem($containerPadding);
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@import "base";

// Подключение стилей общих элементов проекта
@import "common";
@import "global";

@import "widgets/header";
@import "widgets/footer";

//========================================================================================================================================================
// Pages
@import "widgets/home/home";
@import "widgets/other/bookacall";
@import "widgets/portfoliopages";
